:host {
    --background: #ffffff;
    --color: #000000;
    display: block;
  }
  
  ion-content {
    background-color: #ffffff;
    color: #000000;
  }
  
  ion-list {
    margin-bottom: 30px;
    background: transparent;
  }
  .title-section h2 {
    padding-top: 50px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    color: #000000;
    text-align: center;
  }
  
  ion-item {
    --background: transparent;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 8px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .label {
    color: #000000;
    font-weight: 500;
  }
  
  ion-input {
    --color: #000000;
  }
  
  .logout-button {
    margin-top: 30px;
    --background: #ff4d4d;
    --color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
  }
  
  ion-toolbar {
    --background: #ffffff;
    --color: #000000;
    border-bottom: 1px solid #ddd;
  }
  
  ion-title {
    color: #000000;
    font-weight: bold;
  }
  
  ion-icon {
    color: #000000;
  }
  