<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/tabs/tab1" class="back-button">
          <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-text class="title-section">
      <h2>Configuración del Usuario</h2>
    </ion-text>
  
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email"  placeholder="Ingresa tu correo"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input type="password"  placeholder="Contraseña nueva"></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-button expand="block" color="primary" class="save-button">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  
    <ion-button expand="block" color="danger" routerLink="/signin" class="logout-button">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </ion-content>
  