<ion-page>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="handleCancel()">
          Volver
        </ion-button>
      </ion-buttons>
      <ion-title>Registrar Meta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="register-in-container">
    <h2 class="title">Registrar Meta</h2>
    <p class="subtitle">Añade una nueva meta</p>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="description"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="price"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="full"
      (click)="handleSave()"
      class="continue-button-2"
    >
      Guardar
    </ion-button>
  </ion-content>
</ion-page>
