.tabbar {
  background: #f8f8f8;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.buttonicon {
  background: transparent;
  color: black;
  size: 16px;
  
}

.buttonlabel {
  background: transparent;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
