<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabbar">
    <ion-tab-button tab="tab1" href="/tabs/tab1" style="background: #f4f4f4;">
      <ion-icon aria-hidden="true" [icon]="statsChartOutline" class="buttonicon" ></ion-icon>
      <ion-label class="buttonlabel" >Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" style="background: #f4f4f4;">
      <ion-icon aria-hidden="true" [icon]="trophyOutline" class="buttonicon" ></ion-icon>
      <ion-label class="buttonlabel">Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" style="background: #f4f4f4;">
      <ion-icon aria-hidden="true" [icon]="listOutline" class="buttonicon"></ion-icon>
      <ion-label class="buttonlabel">Bills</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
