<ion-page>

  <!-- Agregado un IonHeader con un botón de regreso -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="navigateToSignIn()">
          Volver
        </ion-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding register-in-container">
    <h1 class="title">Register</h1>
    <p class="subtitle">Create a new account</p>

    <ion-input
      class="input-field"
      type="email"
      [(ngModel)]="email"
      placeholder="email@domain.com"
    ></ion-input>

    <div class="password-container">
      <ion-input
        class="input-field password-input"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Enter password"
      ></ion-input>
      <button
        class="toggle-password"
        (click)="togglePasswordVisibility()"
      >
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
      </button>
    </div>

    <div class="password-container">
      <ion-input
        class="input-field password-input"
        [type]="showConfirmPassword ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm password"
      ></ion-input>
      <button
        class="toggle-password"
        (click)="toggleConfirmPasswordVisibility()"
      >
        <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
      </button>
    </div>

    <ion-button expand="block" class="continue-button-2" (click)="handleRegister()">
      Register
    </ion-button>

    <ion-text class="terms">
      <small>
        By clicking register, you agree to our <strong>Terms of Service</strong> and <strong>Privacy Policy</strong>
      </small>
    </ion-text>
  </ion-content>
</ion-page>
