<ion-page>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          Volver
        </ion-button>
      </ion-buttons>
      <ion-title>Register Expense</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="register-in-container">
    <h2 class="title">Register Expense</h2>
    <p class="subtitle">Add your expense</p>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Amount</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="amount"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="description"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <select
          [(ngModel)]="category"
        >
          <option value="gastos">Occasional</option>
          <option value="gastos_fijos">Monthly</option>
        </select>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Recurrence</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="recurrence"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="full"
      (click)="handleSave()"
      class="continue-button-2"
    >
      Guardar
    </ion-button>
  </ion-content>
</ion-page>
