  <ion-content>
    <div class="fixed-total">
      <h5 class="activity-title">Bills</h5>

      <ion-segment [value]="category" (ionChange)="onSegmentChange($event)" class="activity-segment">


        <ion-segment-button value="gastos">
          <ion-label style="font-size: 18px;">Occasional Bills</ion-label>
        </ion-segment-button>
        <ion-segment-button value="gastos_fijos">
          <ion-label style="font-size: 18px;">Monthly</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-text  *ngIf="displayed.length === 0 && category === 'gastos'" style="color: black;">
        No hay {{ category === 'gastos' ? 'gastos' : 'gastos fijos' }} registrados.
      </ion-text>

      <ion-list class="activity-list" >
        <ion-item *ngFor="let item of displayed" lines="none" class="activity-item" detail="false"  >
          <ion-label class="activity-label">
            <div class="activity-text">
              <ion-text class="activity-name">
                {{ item.description }}
              </ion-text>
              <ion-text class="activity-description">
                {{ item.timestamp  }}
              </ion-text>
              <ion-text *ngIf="category === 'gastos_fijos'" class="activity-description">
                Recurrence: {{ item.recurrence }}
              </ion-text>
            </div>
          </ion-label>
          <ion-text class="activity-value">
            ${{ item.amount.toFixed(2) }}
          </ion-text>
        </ion-item>
      
        <!-- Mostrar mensaje si no hay gastos -->
            
      </ion-list>
      
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="activity-button" routerLink="/bills">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
