.dashboard-title {
    font-size: 26px;
    font-weight: 600; 
    color: #000000b0; 
    margin-bottom: 20px; 
    letter-spacing: 0.5px; 
    text-transform: capitalize;
    font-family: 'Arial', sans-serif; 
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #c7c6c6;
    z-index: 1;
   
    margin-bottom: 20px;
  }

  .profile-avatar {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
  }
  
  .metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    border-radius: 12px;

  }
  
  .letter-color {
    color: #00000091;
  }


  .metric-card {
    margin-bottom: 10px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    border-bottom: 1px solid #c7c6c6;
    
    background: #f8f8f8;
    padding: 12px;
    border-radius: 12px;
    flex: 0 0 48%;
    text-align: center;
  }

  .metric-card2 {
    margin-bottom: 10px; 
    justify-content: space-between; 
    background: #f8f8f800;
    padding: 12px;
    border-radius: 12px;
    flex: 0 0 48%;
  }
  
  .metric-title {
    font-size: 14px;
    color: #00000091;
  }
  
  .metric-value {
    color: #000000c3;

    font-size: 20px;
    font-weight: bold;
  }
  
  .expense-list {

    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .expense-list li {
    padding: 4px 0;
    font-size: 16px;
  }
  
