  <ion-content class="ion-padding"  style="--background: #f4f4f4;">
    <div>
      <h5 class="dashboard-title">App name</h5>

      <ion-buttons class="profile-avatar">
        <ion-avatar [routerLink]="['/user-config']" style="cursor: pointer;">
          <img src="../../../assets/profile.jpg" alt="Profile" />
        </ion-avatar>
      </ion-buttons>

      <div class="metrics">
        <div class="metric-card">
          <ion-text class="metric-title">Amount</ion-text>
          <ion-text class="metric-value"> $45,678.90</ion-text>
        </div>
        <div class="metric-card">
          <ion-text class="metric-title">Day Expenses</ion-text>
          <ion-text class="metric-value"> 2,405</ion-text>
        </div>
      </div>

      <ion-card class="metric-card2">
        <ion-card-header style="background: #f4f4f4; ">
          <ion-card-title class="letter-color">Title</ion-card-title>
        </ion-card-header>
        <ion-card-content style="height: 200px; background: #f4f4f4;">
          <recharts-line-chart
            [data]="data"
            [xKey]="'day'"
            [yKey]="'value'"
            strokeColor="#007aff"
          ></recharts-line-chart>
        </ion-card-content>
      </ion-card>

      <ion-card class="metric-card2">
        <ion-card-header >
          <ion-card-title class="letter-color">Principal Expenses</ion-card-title>
        </ion-card-header>
        <ion-card-content >
          <ul class="expense-list">
            <li>Food</li>
            <li>Transport</li>
            <li>Bills</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
